<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRMLight.Properties.Settings.aplixH_HFU_TestConnectionString"
            connectionString="Data Source=sql.aplix.ch,14444;Initial Catalog=aplixH_HFU_Test;Persist Security Info=True;User ID=aplixH_HFU_crm;Password=apl!xCRMHaEfU"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>